@import './assets/scss/core/_colors';

body, .card {
    background-color: #efebe9 !important;
    color: $white !important;
}

button.btn { font-weight: bold; }
img.menu-image { height: 50px; }

.flex-grow { flex-grow: 1; }
.map {
    height: 100%;
    min-height: 300px;
    width: 100%;
}
.selected { text-decoration:underline; }

.stylish-color-text { color: $stylish-color; }
.stylish-color-dark-text { color: $stylish-color-dark; }
.light-grey-text { color: $grey-lighten-4; }

div h2 {
    text-align: center;
    font-weight:bold;
    padding:1em 0 .5em 0;
}

div.inner-container, .mha {
    margin-left: auto;
    margin-right: auto;
}

.border-dotted.bottom {
    border-bottom: dashed 1px $grey-lighten-4;
}
.border-dotted.left {
    border-left: dashed 1px $grey-lighten-4;
}
.border-dotted.top {
    border-top: dashed 1px $grey-lighten-4;
}

div.inner-container {
    max-width: 64rem;

    a {
        text-transform: uppercase;
        font-weight: bold;
        color: $white;
    }

    align-content:hover {
        text-decoration: underline
    }


    div.inner-container-row {
        padding: 1em;
        display: flex;
        align-items: stretch;

        div.left-frame {
            text-align: center;
            font-size: 1.5em;
            font-weight: bold;
            background-color: $white;
            padding: 1em;
            width: 165px;
            color: $stylish-color-dark
        }

        div.right-frame {
            font-weight: bold;
            padding: .5em 1em;
            flex-grow: 1;
        }
    }
}