<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
	<add key="Nuget.org" value="https://api.nuget.org/v3/index.json" />
	<add key="Utilities" value="https://pkgs.dev.azure.com/naspinski/Utilities/_packaging/Utilities/nuget/v3/index.json" />
	<add key="FoodTruck" value="https://pkgs.dev.azure.com/naspinski/FoodTruck/_packaging/FoodTruck/nuget/v3/index.json" />
  </packageSources>
</configuration>