@import '../assets/scss/core/_colors';

img.title-logo { height: 50px; }

.nav-menu a {
    color: $white
}

button.cart-indicator {
    margin: 0 6px;
    font-weight: normal;
    padding: .84rem;
    background-color: $secondary-color-dark !important
}