@import '../assets/scss/core/_colors';

@media (min-width: 768px) {
    #cart {
        right: 0;
        width: 40%;

        ul {
            max-height: 400px;
        }
    }
}

@media (max-width: 767px) {
    .cart-indicator {
        flex-grow: 1;
        text-align: right;
    }
}

img.title-logo {
    height: 50px;
}

.navbar-brand {
    margin-left: 1rem;
}

.nav-menu a {
    color: $white
}

.cart-indicator {

    button {
        margin: 0 6px;
        font-weight: normal;
        padding: .84rem;
        background-color: $secondary-color-dark !important
    }
}