@import '../assets/scss/core/_colors';


// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    #cart {
        right: 0;
        width: 40%;

        ul {
            max-height: 400px;
        }
    }
}
@media (max-width: 767px) {
    #cart {
        right: 0;
        width: 100%;

        ul {
            max-height: 200px;
        }
    }
}

#cart {
    background: $grey-lighten-4;
    color: $elegant-color;
    z-index: 555;
    position: fixed;
    bottom: 0;

    svg[role="img"]:hover {
        cursor: pointer;
    }
    .cart-section {
        padding: 0 1rem
    }

    ul {
        overflow-y: scroll;
        padding: 0;
        margin: 0;
        list-style-type: none;
    }

    #cart-closer {
        display:block;
        font-size: 1.5rem;
        text-align: center;
        background-color: $pink-base;
        margin-bottom: .5rem
    }

    #cart-total {
        margin-top: .5rem;
        border-top: dashed 1px;
        display: flex;
        justify-content: space-between;
        padding: .5rem 1rem;
    }

    .cart-section {
    }
}