@import '../assets/scss/core/_colors';


// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    #cart {
        right: 0;
        width: 40%;

        ul {
            max-height: 400px;
        }
    }
}
@media (max-width: 767px) {
    #cart {
        right: 0;
        width: 100%;

        ul {
            max-height: 200px;
        }
    }
}

#cart {
    background: $grey-lighten-4;
    color: $elegant-color;
    z-index: 555;
    position: fixed;
    bottom: 0;

    .invisible {
        height: 0
    }

    svg[role="img"]:hover {
        cursor: pointer;
    }

    .cart-section {
        padding: 0 1rem
    }

    ul {
        overflow-y: auto;
        padding: 0;
        margin: 0;
        list-style-type: none;
    }

    #cart-closer {
        display: block;
        font-size: 1.5rem;
        text-align: center;
        background-color: $secondary-color-dark;
        color: $white;
        margin-bottom: .5rem
    }

    #cart-total {
        margin-top: .5rem;
        border-top: dashed 1px;
        padding: .5rem 1rem;

        div {
            display: flex;
            justify-content: space-between;
        }
    }

    #cart-checkout-button {
        text-align: center;

        button {
            background-color: $secondary-color-dark !important;
        }
    }

    #cart-info-form, .sq-payment-form {
        margin: auto;
    }

    #cart-info-form {
        width: 380px;

        .sq-fieldset {
            padding-bottom: 1rem
        }

        select {
            background-color: #f5f5f5
        }
    }

    .cart-square-buttons {
        display: flex;
        justify-content: space-between;
        padding-bottom: 1rem;

        button.sq-creditcard {
            margin: 0;
            width: auto;
        }

        button.sq-creditcard:disabled {
            opacity: 0.5;
        }

        button.sq-creditcard:not(.back) { /*square styled button*/
            flex-grow: 1;
            padding: 0;
            background-color: $secondary-color-dark;
        }

        button.sq-creditcard.back {
            margin-right: .5rem;
            flex-grow: 0;
            background-color: $default-color;
            padding-left: .84rem;
            padding-right: .84rem;
        }
    }

    .cart-section {
    }

    .sq-form-style {
        font-size: 16px;
        font-family: Helvetica Neue;
        padding: 16px;
        color: #373F4A;
        background-color: transparent;
        line-height: 24px;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}